@import url(http://fonts.googleapis.com/css?family=Abel|Patua+One);

*{
	box-sizing:border-box;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }

body{
	font-family: 'Abel', sans-serif;
	background-color: #fff;
	color: black;
	font-size: 14px;
}

li{
	font-size: 1.3em;
  	line-height: 1.4em;
  	text-align: right;

}

h1,h2,h3,h4,h5,h6{
	font-family: 'Patua One';
}

a,a:active,a:visited{
	color: #000;
	text-decoration: none;
	-webkit-transition: color .3s;
	-moz-transition: color .3s;
	transition: color .3s;

}

.navContainer a{
	color: #fff;
}

/*h1.logo{
	color: #333333;

}*/

a:hover{
	color: #dc1414;

}	

/*}

h1.logo a{
	color: #333333;

}

h1.logo a,a:active{
	color:;
}*/

.table {
	display: table;
	position: relative;
	width: 100%;
	height: 100%;

}

.tableCell {
	display: table-cell;
	width: 100%;
	vertical-align: middle;

}

header{
	position: fixed;
	height: 50px;
	width: 100%;
	display: block;
	z-index: 1000;

}

.headerContent{
	height: 100%;
	width: 100%;
	background-color: #fff;

}

.logo{
	font-size: 1.43em;
	text-align: left;
	line-height: 50px;
	margin-left: 15px;

}

/*.logo a{
	color: #333333;

}	*/

a.hamBurgerToggle {
	text-decoration: none;
	display: block;
	white-space: nowrap;
	text-indent:100%;
	position: absolute;
	top: 15px;
  	right: 15px;
	width:35px;
	height: 19px;
	z-index: 1000;

}

.taglineTablet{
	display: none;

}

.hamBurgerPart {
	display: block;
	height: 3px;
	width: 50%;
	background: #dc1414;
	float: left;
	margin-bottom: 5px;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	-ms-transition all 0.3s;
	transition: all 0.3s;
	-webkit-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	opacity: 1;
	position: relative;
	top: 0;
	left: 0;

}

.bottomBun {
    margin-bottom: 0;

}

.hamBurgerPart:nth-child(2n+1) {
	clear: left;

}

.navContainer {
	height: 100%;
	width: 130px;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 102;
	background: #333;
	-webkit-transform: translate3d(100%, 0, 0);
	-ms-transform: translate3d(100%, 0, 0);
	-o-transform: translate3d(100%, 0, 0);
	transform: translate3d(100%, 0, 0);
	-webkit-transition: -webkit-transform 0.3s;
	-o-transition: -o-transform 0.3s;
	transition: transform 0.3s;
	padding-top: 50px;

}

.navOpen .navContainer {
	  -webkit-transform: translate3d(0, 0, 0);
	  -ms-transform: translate3d(0, 0, 0);
	  -o-transform: translate3d(0, 0, 0);
	  transform: translate3d(0, 0, 0);

}

.navOpen .hamBurgerToggle .topBunLeft {
	-webkit-transform: rotate3d(0,0,1,45deg);
	-moz-transform: rotate3d(0,0,1,45deg);
	transform: rotate3d(0,0,1,45deg);
    left: 3px;
    top: 3px;

}

.navOpen .hamBurgerToggle .topBunRight {
	-webkit-transform: rotate3d(0,0,1,-45deg);
	-moz-transform: rotate3d(0,0,1,-45deg);
	transform: rotate3d(0,0,1,-45deg);
    left: -3px;
    top: 3px;

}

.navOpen .hamBurgerToggle .meatPattyLeft {
	opacity: 0;
	-webkit-transform: translate3d(-100%, 0, 0);
	-moz-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
}
.navOpen .hamBurgerToggle .meatPattyRight {
	opacity: 0;
	-webkit-transform: translate3d(100%, 0, 0);
	-moz-transform: translate3d(100%, 0, 0);
	transform: translate3d(100%, 0, 0);

}

.navOpen .hamBurgerToggle .bottomBunLeft {
	-webkit-transform: rotate3d(0,0,1,-45deg);
	-moz-transform: rotate3d(0,0,1,-45deg);
	transform: rotate3d(0,0,1,-45deg);
    left: 3px;
    top: -2px;
}

.navOpen .hamBurgerToggle .bottomBunRight {
	-webkit-transform: rotate3d(0,0,1,45deg);
	-moz-transform: rotate3d(0,0,1,45deg);
	transform: rotate3d(0,0,1,45deg);
    left: -3px;
    top: -2px;

}

nav{
	padding: 0px 15px;

}

.pageContent{
	width: 100%;
	display: block;
	padding-top: 50px;
	
}

.videoContainer{
	position: relative;
	width: 100%;
	min-height: 56.25vw;
	overflow: hidden;
}

.lipstickVideo{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 500;
	display: block;
	height: 56.25vw;
}

.videoText{
	color: #fff;
	font-size: 18px;
	position: absolute;
	top: 33.3333333%;
	right: 25%; 
	z-index: 501;
}

.infoContent{
	width: 100%;
	font-size: 1.4em;
  	line-height: 1.4em;
  	padding: 30px 30px;
  	position: relative;

}

.infoContent img {
	max-width: 145px;

}

.infoContent.noPadding img {
	max-width: none;

}

.infoContent.alignLeft img {
	float: left;
	margin-right: 7%;
	width: auto;
	height: 8.4em;
	display: inline-block;

}

.infoContent.alignCenter img {
	margin: 30px auto;
	width: 40%;

}

.infoContent.alignRight img {
	float: right;
	margin-left: 7%;
	width: auto;
	height: 8.4em;
	display: inline-block;

}

.infoContent1{
	background-color: #fff;
	
}

.infoContent2, .infoContent4{
	background-color: #333333;
	color: #fff;
}

.infoContent img:first-child{
	margin-top: 0px;

}

.alignLeft .verticalContentContainer,
.alignRight .verticalContentContainer,
.alignLeft .verticalContentContainer .table,
.alignRight .verticalContentContainer .table,
.alignLeft .verticalContentContainer .table .tableCell,
.alignRight .verticalContentContainer .table .tableCell {
	display: inline;

}

.infoContent.noPadding {
	padding: 0;

}

img {
	width: 100%;
	display: block;

}

.footer{
	width: 100%;
	font-size: 1em;
  	line-height: 1.2em;
  	padding: 30px 30px;
  	text-align: center;
}

::-webkit-input-placeholder {
   color: #777;
}
:-moz-placeholder {
   color: #777;  
}
::-moz-placeholder {
   color: #777;  
}
:-ms-input-placeholder {  
   color: #777;  
}

form{
	width: 400px;
    margin: 0 auto;
}

.fieldWrapper label{
	display: inline-block;
	width: 70px;
}

.fieldWrapper{
	margin: 20px 0;
}

.fieldWrapper.text input, .fieldWrapper.email input, .fieldWrapper.textarea textarea {
	padding: 10px 20px;
	width: 300px;
}

.fieldWrapper.textarea textarea{
	padding: 40px 10px;
	vertical-align: middle;
}

.fieldWrapper.textarea label{
	vertical-align: middle;
}

@media screen and (min-width: 768px) {
	.navContainer{
		width: 250px;
	}
	li{
		font-size: 1.8em;
	}
	.taglineTablet{
		display: inline;
		font-size: .7em;
	}

	.alignLeft img {
		margin-right: 0;
	}
	.alignRight img {
		margin-left: 0;
	}
	.alignLeft .verticalContentContainer,
	.alignRight .verticalContentContainer {
		display: block;
	}
	.alignLeft .verticalContentContainer .table,
	.alignRight .verticalContentContainer .table {
		display: table;
	}
	.alignLeft .verticalContentContainer .table .tableCell,
	.alignRight .verticalContentContainer .table .tableCell {
		display: table-cell;
	}
	.alignLeft .verticalContentContainer, .alignRight .verticalContentContainer{
		position: absolute;
		top: 0;
		right: 0;
		z-index: 2;
		width: calc(100% - 190px);
		height: 100%;
	}
	.alignRight .verticalContentContainer{
		left: 0;
		right: auto;
		padding-left: 30px;
	}

	.alignLeft .verticalContentContainer{
		padding-right: 30px;
		
	}
}
@media screen and (min-width: 1025px) {
	.pageContent{
		padding-top: 80px;

	}

	header{
		height: 80px;

	}

	.logo{
		line-height: 80px;
		font-size: 2.13em;

	}

	a.hamBurgerToggle{
		top: 30px;

	}

	.navContainer{
		padding-top: 80px;

	}

	.infoContent{
		padding-right: 100px;
		padding-left: 100px;

	}

	.alignLeft .verticalContentContainer, .alignRight .verticalContentContainer{
		  width: calc(100% - 260px);

	}

	.alignLeft .verticalContentContainer{
		padding-right: 100px;

	}

	.alignRight .verticalContentContainer{
		padding-left: 100px;

	}
}

@media screen and (min-width: 1440px) {
	.videoContainer.cropCenter, .videoContainer.cropBottom{
		min-height: 42.25vw;
	}
	.videoContainer.cropCenter .lipstickVideo{
		top: -6vw;
		bottom: 6vw;
	}
	.videoContainer.cropBottom .lipstickVideo{
		top: auto;
		bottom: 0;	
	}
	
}	